/* .attribution { 
    font-size: 11px; 
    text-align: center; }
    
.attribution:active { color: hsl(228, 45%, 44%); } */

body {
    background-color: hsl(228, 33%, 97%);
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

img {
    height: 30px;
    width: 30px;
}

.atText {
    color: hsl(238, 40%, 52%);
    font-weight: 500;
}

.postDiv {
    margin: 10px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 680px;
    border: 2px solid hsl(228, 33%, 97%);
    border-radius: 10px;
}

.replyDiv {
    margin: 20px 10px 0px 25px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 620px;
    border: 2px solid hsl(228, 33%, 97%);
    border-radius: 10px;
}

.replyDivHolder {
    background-color: hsl(228, 33%, 97%);
    border-left: 2px solid hsl(223, 19%, 93%);
    margin-left: 38px;
    padding: 0px 0x -10px 20px;
}

.postBody {
    padding: 0px 20px 0px 0px;
}

.likeCounter {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 80px;
    background-color: hsl(228, 33%, 97%);
    border: 2px solid hsl(223, 19%, 93%);
    border-radius: 5px;
}

.likeTotal {
    color: hsl(238, 40%, 52%);
    text-align: center;
    font-weight: 500;
    border-top: 1px solid hsl(223, 19%, 93%);
    border-bottom: 1px solid hsl(223, 19%, 93%);
    padding: 3px 0px;
}

.likeUp {
    background-image: url('../images/icon-plus.svg');
    background-position: center;
    background-color: hsl(228, 33%, 97%);
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    margin: 0px 0px 0px 1px;
    padding: 3px 0px;
}
.likeDown {
    background-image: url('../images/icon-minus.svg');
    background-color: hsl(228, 33%, 97%);
    background-position: center;
    width: 25px;
    height: 20px;
    background-repeat: no-repeat;
    margin: 0px 0px 0px 2px;
    padding: 3px 0px;
}

.postTitleRowDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    margin-left: 10px;
}

.replyInTitleRow {
    /* display: flex; */
    background-image: url('../images/icon-reply.svg');
    background-position: left;
    background-repeat: no-repeat;
    width: 63px;
    height: 20px;
    justify-self: right;
    text-align: right;
    color: hsl(238, 40%, 52%);
    font-weight: 500;
}

.deleteInTitleRow {
    /* display: flex; */
    background-image: url('../images/icon-delete.svg');
    background-position: left;
    background-repeat: no-repeat;
    width:68px;
    height: 20px;
    justify-self: right;
    text-align: right;
    color: hsl(358, 79%, 66%);
    font-weight: 500;
}

.editInTitleRow {
    /* display: flex; */
    background-image: url('../images/icon-edit.svg');
    background-position: left;
    background-repeat: no-repeat;
    width:50px;
    height: 20px;
    margin: 0px 0px 0px 20px;
    justify-self: right;
    text-align: right;
    color: hsl(238, 40%, 52%);
    font-weight: 500;
}

.you {
    color: white;
    background-color: hsl(238, 40%, 52%);
    border-radius: 3px;
    height: 15px;
    width: 50px;
    text-align: center;
    padding: 0px 0px 7px 0px;
    margin: 0px 8px 0px 0px;
}

.postMessageText {
    color: hsl(211, 10%, 45%);
    padding: 5px;
    margin-left: 10px;
    font-size: 16px;
}

.postDiv .ageInTitleRow{
    color: hsl(211, 10%, 45%);
    padding: 5px;
    width: 410px;
}

.replyDiv .ageInTitleRow{
    color: hsl(211, 10%, 45%);
    padding: 5px;
    width: 335px;
}

.replyDiv .ageInTitleRow.me{
    color: hsl(211, 10%, 45%);
    padding: 5px;
    width: 225px;
}

.nameInTitleRow {
    padding: 5px 10px;
}

.addCommentDiv {
    margin: 15px 10px 10px 10px;
    padding: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 680px;
    border: 2px solid hsl(228, 33%, 97%);
    border-radius: 10px;
}

.addCommentDiv .addCommentInput {
    width: 500px;
    height: 100px;
    border: 2px solid hsl(228, 33%, 97%);
    border-radius: 7px;
    margin: 5px 10px;
    padding: 5px 10px;
    color: hsl(211, 10%, 45%);
}

.addCommentDiv .sendButton {
    color: white;
    background-color: hsl(238, 40%, 52%);
    border-radius: 7px;
    height: 30px;
    width: 100px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    margin: 5px 0px 5px 10px;
}

.addCommentDiv img {
    margin: 5px;
}

